*{
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}

.buttons .my-image{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 30px;
}

.search-items input{
  position: relative;
  padding: 5px 30px;
  width: 380px;
  border-radius: 20px;
  background: #EDEDF0;
  background-image: url("./img/search-icon.png");
  background-repeat: no-repeat;
  background-position: 5px;
  background-size: 20px 21px;
  outline: none;
  margin-right: 10px;
  border: none;
}

sup{
  position: absolute;
  padding: 10px !important;
  right: -5px;
  top: -5px!important;
  /* background: #F44336; */
  border-radius: 50%;
}

.main-text{
  font-size: 8px;
  letter-spacing: 0.018em;
  color: #787885;
  padding-top: 5px ;
}

.main-item:hover{
  background: #EBF2FF;
  border-radius: 10px;
  transition: 1s;
  cursor: pointer;
}

.inside-button{
  font-size: 11px !important;
  width: 150px !important;
  margin-left: -20px!important;
}

.inside-list{
  border-radius: 5px !important;

  /* background-color: rgb(141, 141, 197); */
}

.inside-list li{
  font-size: 10px !important;
  /* color: rgb(78, 75, 75); */
  line-height: 25px;
}

.inside-list li:hover{
  color: rgb(69, 92, 223);
  cursor: pointer;
}

.collapsed-filters-button{
  padding-left: 30px!important;
  padding-right: 60px!important;

  font-size: 15px !important;
  border-radius: 5px !important;
  margin-left: 0px;
}

.expand-filter{
  width: 50px !important;
  margin-top: 200px !important;
}

.filter{
  background: #F7F7FA;
  padding-right: 30px!important;
  font-size: 15px !important;
  border-radius: 5px !important;

}

.expand-list li{
  list-style: space-counter !important;
}

.expand-list li a:hover{
  color: blue!important;
}

.year-manufacture li a:hover{
  color: blue!important;

}

.useless{
  
  padding-left: 0px !important;
}

.useless button{
  width: 105px !important;
  height: 30px !important;
  padding: 0!important;
  font-size: 12px !important;
}

.showw button{
  background: #EBF2FF !important;
}


.togles li button {
  background: #EBF2FF !important;
}

.related{
  display: flex;
  align-items: center;
}

.related-list{
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.related-item{
  background: #EDEDF0;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 15px;
}

.related-item a{
  font-size: 12px;
  color: #787885;
}

.commerse-list li{
  cursor: pointer;
  transition: 0.5s;
}

.commerse-list li:hover{
  box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.35)!important;
  margin-top: 1px !important;
}


.commerse-list li img{
  margin-left: -10x !important;
}

.commerse-list li .vintage{
  margin-left: -5px !important;
  line-height: 23px !important;
}

.commerse-list li .eligible{
  color: #787885;
  font-size: 12px !important;
}


.star ul{
  margin-left: -45px !important;
}

.footer-list h5{
  font-size: 15px!important;
}

.footer-list p{
  font-size: 12px!important;
}